spring:
  application:
    name: product-recommendation-service

  datasource:
    url: jdbc:postgresql://localhost:5432/bankdb
    username: courseWorkBankRuler
    password: bankDb
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

server:
  port: 8080

logging:
  level:
    com.example: INFO
    org.springframework.jdbc.core.JdbcTemplate: WARN
